*{
    margin: 0;
    padding: 0;
    font-family: kanit, sans-serif;
}

#logo-color i img{
    width: 50px;
}

.navbar-brand{
    margin-left: 50px;
    color: rgba(255, 166, 0);
    font-weight: bold;
}

#menu-color{
    background-color:rgba(255, 166, 0) ;
}

.navbar-brand:hover{
    color: rgba(255, 166, 0);
}

#navbar-color{
    background-color: #000;
}

.navbar-nav{
    margin-left: 50px;
}

.nav-item{
    margin-left: 10px;
}

#first{
    border-bottom: 2px solid rgba(255, 166, 0);
}

.nav-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
     transition:0.3s ease;
}

.nav-link:hover{
    background-color: rgba(255, 166, 0);
    box-shadow: 0 0 5px rgba(255, 166, 0) 0 0 20px rgba(255, 166, 0) 0 0 60px rgba(255, 166, 0) 0 0 150px rgba(255, 166, 0);
    color: #000;
   
}

.main-content{
    width: 100%;
    height: 90vh;
    background-image: url(delicious-burger.jpg);
    background-size: cover;
    background-position: 73%;
}

.content{
    padding-top: 160px;
    margin-left: 50px;
    color: #fff;
}

.content h1{
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 3px;
}

.content h2{
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 3px;   
}

#btn1 button{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: black;
    border: none;
    transition:1s ease;
    cursor: pointer;
}#btn1 button:hover{
     background-color: rgba(255, 166, 0);
    box-shadow: 0 0 5px rgba(255, 166, 0) 0 0 20px rgba(255, 166, 0) 0 0 60px rgba(255, 166, 0) 0 0 150px rgba(255, 166, 0);
  color: #000;
}


.card{
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    transition: transform 0.5s ease;
    margin: auto;
}

.best-card .card:hover{
    transform: translateY(-15px);
}

.best-card h1{
    font-weight: bold;
    color: #fff;
}

.best-card p{
    font-weight: bold;
     color: #fff;
}

.container{
    margin-top: 100px;
}

.card-content h1{
    font-size: 30px;
    font-weight: bold;
}

.card-content h3{
    font-size: 30px;
    font-weight: bold;
}

.card-content h5{
    font-size: 30px;
    font-weight: bold;
}

.card-content p{
    font-weight: bold;
}

.banner{
    width: 100%;
    height: 70vh;
    background-image:url(images.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 69%;
}

.banner h1{
    font-size: 70px;
    color: #fff;
    font-weight: bold;
    padding-top: 15px;
    margin-left: 5px;
/*    box-shadow: 2px 1px 5px #000;*/
}

.change-content:after{
    content:' ' ;
    animation: changetext 10s infinite linear;
    color: rgba(255, 166, 0);
}

@keyframes changetext{
        0%{content: "cheese Burger"; }
        20%{content: "Chicken Burger"}
        60%{content:"Beef Burger"}
        80%{content:"Sandwich"}
        100%{content:"Fries" }
}

.banner h2{
    font-size: 50px;
    font-weight: bold;
    color: rgba(255, 166, 0);
    padding-top: 15px;
    margin-left: 5px;
}

#btn2 button{
    width: 200px;
    height: 35px;
    margin-left: 5px;
    color: #fff;
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    background-color:black;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn2 button:hover{
    background-color: rgba(255, 166, 0);
    box-shadow: 0 0 5px rgba(255, 166, 0) 0 0 20px rgba(255, 166, 0) 0 0 60px rgba(255, 166, 0) 0 0 150px rgba(255, 166, 0);
    color: #000;
}

.new-card{
    margin-top: 50px;
    cursor: pointer;
}

.new-card h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

#btn3{
    text-align: center;
}

#btn3 button{
    width: 150px;
    height: 35px;
    letter-spacing: 3px;
    font-weight: bold;
    border: none;
    background-color: rgba(255, 166, 0);
    transition: 0.50s ease-in;
    cursor: pointer;
}

#btn3 button:hover{
        background-color: black;
        color: white;
}

#btn4 button{
    width: 200px;
    height: 35px;
    background-color: rgba(255, 166, 0);
    border: none;
    font-weight: bold;
    transition: transform 0.30s ease-in;
    cursor: pointer;
}

#btn4 button{
    text-align: center;
    margin-top: 50px;
    margin-left: 450px;
}

#btn4 button:hover{
    transform: translateY(-10px);
}

.banner2{
    width: 100%;
    height: 60vh;
    background-image: url(van.jpg);
    background-size: cover;
    border: 2px solid black;
    background-position: 50%;
    margin-top: 50px;
}

.banner2 h1{
        font-weight: bold;
        font-size: 60px;
        color: #fff;
        padding-top: 100px;
        margin-left: 10px;    
}

.banner2 h2{
    font-weight: bold;
    color: black;
    background-color: rgba(255, 166, 0);
     font-size: 60px;
      padding-top: 10px;
      display: inline-block;
      margin-left: 10px;
}

.stickyicon-list { 
/*padding-left: 50px;  */
padding: 10px;
display: inline-block;               
}         
.stickyicon-list a {   
display: inline-block;   
text-align: center;   
padding: 8px;   
transition: all 0.5s ease;
color: white;   
font-size: 20px;   
}         
   
.stickyicon-list a:hover {   
color: #000;      
}   
   
  .tog{  border: none;    
.facebook {   
background: #3b5998;   
color: white;
width: 40px;  
/*border-radius: 50px;*/
border: none;
}         
.twitter {   
color: white;   
background: #00acee;   
}   
.linkedin {   
background: #0e76a8;   
color: white;   
}         
.google {   
color: white;   
background: #db4a39;   
}   
.instagram {   
background: #3f729b;   
color: white;   
}         
.youtube {   
color: white;   
background: #c4302b;    
}   
}

.about-us{
    margin-top: 50px;
}

#footer{
    background-color: black;
    padding: 30px 0;
    font-size: 14px;
    margin-top: 50px;
}

#footer .footer-links a{
    color: #fff;
    font-weight: bold;
    padding-left: 15px;
}

#footer .footer-links a:first-child{
    padding: 0%;
}

#footer .footer-links a:hover{
    color: rgba(255, 166 0);
}

.copyright{
    color: #fff;
}